* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.submit:focus {
    background-image: url('http://localhost:8000/send?text=def');
    background-color: red;
}

.submit {
    width: 60px;
    height: 60px;
}

body {
    background-color: rgb(20,20,20);
    color: white;
}